@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zilla Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
  transform: skewY(-3deg);
}


h2 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  transform: skewY(-3deg);
}

h3 {
  font-size: 2rem;
}

p, a, button, span {
  font-size: 1.5rem;
  word-spacing: 0.2rem;
}

p {
  line-height: 4rem;
  margin: 3rem 10rem;
  padding-bottom: 2rem;
  border-bottom: 4px dotted black;
}

@media (max-width: 500px) {
  p {
    margin: 2rem;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px solid #18BAEC;
  color: black;
  margin: 0.5rem;
}

a:hover {
  font-style: italic;
}

button {
  padding: 1rem;
  margin: 1rem 5rem;
  transition: all 0.2;
  border: 2px solid black;
  background: #18BAEC;
  font-family: 'Zilla Slab', serif;
}

button:hover {
  transform: skewY(3deg);
}

.imgContainer {
  width: 40%;
  margin: 1rem auto;
}

.imgContainer img {
  width: 100%;
}

.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background: #B8C8C8;
  margin-bottom: 3rem;
}

form {
  background: #DDB570;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 3rem auto;
}

input, label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

label {
  padding: 0.25rem;
}

footer {
  border-top: 4px dotted black;
  margin-top: 2rem;
  padding-top: 2rem;
}

footer p {
  border: none;
  margin: 1rem;
}